*.o
/aclocal.m4
/autom4te.cache
/compile
/config.status
/COPYING
/config.log
/configure
/depcomp
/INSTALL
/install-sh
/discs
/elkulator
/Makefile.in
/Makefile
/missing
/tapes
/src/.deps
/src/.dirstamp
/src/elkulator
/src/Makefile
/src/Makefile.in
/src/host_abstraction_layer/allegro_4/.deps/
/src/host_abstraction_layer/allegro_5/.deps/
/src/host_abstraction_layer/common/.deps/
/src/host_abstraction_layer/allegro_4/.dirstamp
/src/host_abstraction_layer/allegro_5/.dirstamp
/src/host_abstraction_layer/common/.dirstamp
/.idea
/games
/build/config.log
